@import url("https://fonts.googleapis.com/css2?family=Italiana&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Syncopate:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(0, 0, 0, .73);
  /* background: linear-gradient(to bottom, rgb(35, 37, 37) 15%, rgb(16, 16, 16) 85%); */

}



.text-shadow {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);
}

.text-shadowxl {
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 1);
}

.icon-shadow {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}


